<html>
<head>
<style>
h2{
text-align:left;
}
h3{
text-align:left;	
}
h4{
text-align:left;
color: blue;	
}
h5{
text-align:left;	
}
</style>
<h2>Derniere alerte de mouvement</h2>
<h4> <p style ="color:blue;" > {{heure}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{statut}}</p>  </h4>
<h4> <p style = "color:black;"> {{ligne1}}</p> </h4>
</head>
<body>
<h2> 5 dernieres enregistrements </h2>
<h5> {{ligne2}} </h5>
<h5> {{ligne1}} </h5>
<h5> {{ligne4}} </h5>
<h5> {{ligne5}} </h5>
<h5> {{ligne6}} </h5>
</body>
</html>  
